<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SNG:connect</title>
        {% block head_stylesheets %}
            {% assets "base_css" %}
                <link rel="stylesheet" href="{{ ASSET_URL }}">
            {% endassets %}
        {% endblock %}
        {% block head_scripts %}
            {% assets "base_js" %}
                <script src="{{ ASSET_URL }}"></script>
            {% endassets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".user">
                            <span class="awe-user"></span>
                        </button>
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navigation">
                            <span class="awe-chevron-down"></span>
                        </button>
                        <a class="brand" href="{{ request.route_url("sngconnect.telemetry.dashboard") }}">SNG:connect</a>
                        <nav class="nav-collapse navigation">
                            <ul class="nav active-arrows" role="navigation">
                                <li><a href="{{ request.route_url("sngconnect.telemetry.dashboard") }}" title="{% trans %}Dashboard{% endtrans %}"><span class="awe-home"></span> {% trans %}Dashboard{% endtrans %}</a></li>
                            </ul>
                            {% if can_access_devices %}
                                <ul class="nav active-arrows" role="navigation">
                                    <li><a href="{{ request.route_url("sngconnect.devices.feed_templates") }}" title="{% trans %}Device templates{% endtrans %}"><span class="awe-cog"></span> {% trans %}Device templates{% endtrans %}</a></li>
                                </ul>
                            {% endif %}
                        </nav>
                        {% if user %}
                            <nav class="nav-collapse user">
                                <div class="user-info pull-right">
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                            <div style="margin-top: -2px;"><strong>{{ user.email }}</strong></div>
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ request.route_url("sngconnect.accounts.settings") }}"><span class="awe-cogs"></span> {% trans %}Account settings{% endtrans %}</a></li>
                                            <li class="divider"></li>
                                            <li>
                                                <form action="{{ request.route_url("sngconnect.accounts.sign_out") }}" method="post" style="background: none; margin-bottom: 0;">
                                                    {{ sign_out_form.csrf_token }}
                                                    <button type="submit" class="btn"><span class="awe-signout"></span> {% trans %}Sign out{% endtrans %}</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </header>
            <div class="container" role="main">
                <ul class="breadcrumb">
                    {% block main_breadcrumb %}
                        <li><a href="{{ request.route_url("sngconnect.telemetry.dashboard") }}" title="{% trans %}Dashboard{% endtrans %}"><span class="awe-home"></span> {% trans %}Dashboard{% endtrans %}</a></li>
                    {% endblock %}
                </ul>
                {% for message_queue in ("error", "warning", "success", "info") %}
                    {% for message in request.session.pop_flash(queue=message_queue) %}
                        <div class="alert alert-{{ message_queue }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block body_main %}
                    <div class="content">
                        {% block main_content %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
            <footer class="container">
                <nav>
                    <ul>
                        <li>Copyright &copy; 2012 SNG Technologies Ltd. All rights reserved.</li>
                        <li><a href="#">{% trans %}Help{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Contact{% endtrans %}</a></li>
                        <li><a href="#">{% trans %}Terms of Service{% endtrans %}</a></li>
                    </ul>
                </nav>
            </footer>
            {% block body_scripts %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
