<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="http://dygraphs.com/dygraph-combined.js"></script>
    </head>
    <body>
        {% block body_content %}
        {% endblock %}
    </body>
</html>
