{% extends "sngconnect:templates/base.jinja2" %}

{% block body_content %}
    <h1>{{ parameter.system.name }} / {{ parameter.name }}</h1>
    <h2>Last hour</h2>
    <div id="last-hour-plot" style="width: 80%;"></div>
    <script type="text/javascript">
      var last_hour_plot = new Dygraph(

        // containing div
        document.getElementById("last-hour-plot"),

        // CSV or path to a CSV file.
        "Date,{{ parameter.measurement_unit }}\n" +
        {% for date, value in last_hour %}
        "{{ date.isoformat() }},{{ value }}\n"
            {% if not loop.last %}+{% endif %}
        {% endfor %}
      );
    </script>
    <h2>Last day</h2>
    <div id="last-day-plot" style="width: 80%;"></div>
    <script type="text/javascript">
      var last_day_plot = new Dygraph(

        // containing div
        document.getElementById("last-day-plot"),

        // CSV or path to a CSV file.
        "Date,{{ parameter.measurement_unit }}\n" +
        {% for date, value in last_day %}
        "{{ date.isoformat() }},{{ value }}\n"
            {% if not loop.last %}+{% endif %}
        {% endfor %}
      );
    </script>
    <h2>Last week</h2>
    <div id="last-week-plot" style="width: 80%;"></div>
    <script type="text/javascript">
      var last_week_plot = new Dygraph(

        // containing div
        document.getElementById("last-week-plot"),

        // CSV or path to a CSV file.
        "Date,Mean,Minimum,Maximum\n" +
        {% for date, value in last_week %}
        "{{ date.isoformat() }},{{ value.mean }},{{ value.minimum }},{{ value.maximum }}\n"
            {% if not loop.last %}+{% endif %}
        {% endfor %}
      );
    </script>
    <h2>Last month</h2>
    <div id="last-month-plot" style="width: 80%;"></div>
    <script type="text/javascript">
      var last_month_plot = new Dygraph(

        // containing div
        document.getElementById("last-month-plot"),

        // CSV or path to a CSV file.
        "Date,Mean,Minimum,Maximum\n" +
        {% for date, value in last_month %}
        "{{ date.isoformat() }},{{ value.mean }},{{ value.minimum }},{{ value.maximum }}\n"
            {% if not loop.last %}+{% endif %}
        {% endfor %}
      );
    </script>
{% endblock %}
