{% extends "sngconnect:templates/base.jinja2" %}

{% block body_content %}
    <h1>{{ system.name }}</h1>
    <ul>
        {% for parameter in system.parameters %}
            <li>
                <a href="{{ request.route_url("dev.parameter", parameter_id=parameter.id) }}">
                    {{ parameter.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
