{% extends "sngconnect:templates/base.jinja2" %}

{% block main_breadcrumb %}
    <li><a href="{{ request.route_url("sngconnect.payments.index") }}" title="{% trans %}Tokens{% endtrans %}"><span class="awe-money"></span> {% trans %}Tokens{% endtrans %}</a></li>
{% endblock %}
