.table-values {
    td {
        text-align: center;
        vertical-align: middle;
    }
}

.current-value {
    color: @headingsColor;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    text-rendering: optimizelegibility;
    .unit {
        color: @grayLight;
    }
}

.dashboard-diagram {
    max-width: 100%;
}

#dashboard-important-parameters {
    margin-left: 0;
}

td.no-data {
    text-align: center;
    color: @grayLight;
}

.analysis-tool {
    min-height: 90px;
    p, p.lead {
        margin-bottom: 5px;
    }
    p {
        color: @grayLight;
    }
    .btn-group {
        margin-top: 10px;
    }
    p.lead {
        color: @headingsColor;
    }
    &:hover {
     background-color: #e9eaf0;
    }
    &.active {
     background-color: @templateColor;
        p, p.lead {
            color: @white;
        }
    }
    &.active, &:hover {
        a:first-child {
            text-decoration: none;
        }
    }
}
