{% extends "sngconnect:templates/base.jinja2" %}

{% block body %}
    <div class="error-page">
        <section>
            <div class="error404">
                <h1>404</h1>
                <div>
                    <p class="description">{% trans %}Page not found...{% endtrans %}</p>
                    <p>{% trans email="support@example.com" %}Sorry, it appears the page you were looking for doesn't exist anymore or might have been moved. If the problem persists, please contact our support at <a href="mailto:{{ email }}">{{ email }}</a>.{% endtrans %}</p>
                    <a href="{{ request.route_url("sngconnect.telemetry.dashboard") }}" class="btn btn-wuxia btn-primary btn-large">{% trans %}Back to Dashboard{% endtrans %}</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
