{% extends "sngconnect:templates/base.jinja2" %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ feed.dashboard_url }}" title="{{ feed.name }}">{{ feed.name }}</a></li>
{% endblock %}

{% block body_main %}
    <div class="nav-secondary">
        <nav>
            <ul>
                <li{% if active_secondary_navigation == "dashboard" %} class="active"{% endif %}>
                    <a href="{{ feed.dashboard_url }}">
                        <span class="awe-info-sign"></span>
                        {% trans %}Dashboard{% endtrans %}
                    </a>
                    {% if active_alarms_count > 0 %}
                        <span class="badge badge-important">{{ active_alarms_count|format_number }}</span>
                    {% endif %}
                </li>
                <li{% if active_secondary_navigation == "charts" %} class="active"{% endif %}>
                    <a href="{{ feed.charts_url }}">
                        <span class="awe-signal"></span>
                        {% trans %}Charts{% endtrans %}
                    </a>
                </li>
                <li{% if active_secondary_navigation == "data_streams" %} class="active"{% endif %}>
                    <a href="{{ feed.data_streams_url }}">
                        <span class="awe-th-list"></span>
                        {% trans %}Parameters{% endtrans %}
                    </a>
                </li>
                {% if feed.has_settings %}
                    <li{% if active_secondary_navigation == "settings" %} class="active"{% endif %}>
                        <a href="{{ feed.settings_url }}">
                            <span class="awe-cog"></span>
                            {% trans %}Settings{% endtrans %}
                        </a>
                    </li>
                {% endif %}
                {% if feed_permissions.can_change_permissions %}
                    <li{% if active_secondary_navigation == "permissions" %} class="active"{% endif %}>
                        <a href="{{ feed.permissions_url }}">
                            <span class="awe-user"></span>
                            {% trans %}Permissions{% endtrans %}
                        </a>
                    </li>
                {% endif %}
                <li{% if active_secondary_navigation == "history" %} class="active"{% endif %}>
                    <a href="{{ feed.history_url }}">
                        <span class="awe-calendar"></span>
                        {% trans %}History{% endtrans %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <div class="page-header">
            {% block page_header %}
                <h1>{{ feed.name }}</h1>
            {% endblock %}
        </div>
        <div class="page-container">
            {% block page_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
