{% extends "sngconnect.telemetry:templates/feed/charts.jinja2" %}
{% from "sngconnect.telemetry:templates/feed/macros/chart_controls.jinja2" import chart_controls with context %}
{% from "sngconnect.telemetry:templates/feed/macros/render_chart.jinja2" import render_chart with context %}

{% block page_content %}
    {{ super() }}
    <h2 id="chart"><span class="awe-bar-chart"></span> {% trans %}Chart{% endtrans %}</h2>
    {{ chart_controls(
        'rendered-chart',
        chart.definition.name,
        set_range_form,
        'set-range-button',
        'set-last-range'
    ) }}
{% endblock %}

{% block body_scripts %}
    {{ super() }}
    {{ render_chart(
        'rendered-chart',
        '#set-range-button',
        '#set-last-range button',
        chart.rendering_data,
        24 * 7
    ) }}
    <script>
        $(function(){
            $('.datepicker').datepicker({
                format: "yyyy-mm-dd",
                weekStart: 1
            });
        });
    </script>
{% endblock %}
