{% extends "sngconnect.telemetry:templates/feed/base.jinja2" %}
{% set active_secondary_navigation = "dashboard" %}

{% block head_stylesheets %}
    {{ super() }}
    <style>
        #feed-location-map {
            width: 100%;
            height: 300px;
        }
    </style>
{% endblock %}

{% block body_main %}
    {{ super() }}
    {% if active_alarms %}
        <div class="hero-unit blow">
            <h2><span class="awe-exclamation-sign"></span> {% trans %}Active alarms{% endtrans %}</h2>
            <div class="alert alert-error">
                {% trans count=active_alarms|length -%}
                    You have <code>{{ count }}</code> alarms active. If you don't know what it means - contact your device's administrator.
                {%- endtrans %}
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans %}Activation date{% endtrans %}</th>
                        <th>{% trans %}Parameter{% endtrans %}</th>
                        <th>{% trans %}Alarm type{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alarm in active_alarms %}
                        <tr>
                            <td>{{ alarm.activation_date }}</td>
                            <td>{{ alarm.data_stream }}</td>
                            <td>{{ alarm.type }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="content">
        <div class="page-container">
            <div class="row">
                <article class="span6">
                    <h2><span class="awe-eye-open"></span> {% trans %}Important parameters{% endtrans %}</h2>
                </article>
                <article class="span6">
                    <h2><span class="awe-signal"></span> {% trans %}Chart{% endtrans %}</h2>
                </article>
            </div>
            <div class="row">
                <article class="span6">
                    <h2><span class="awe-info-sign"></span> {% trans %}Information{% endtrans %}</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="well">
                                        {{ feed.description }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans %}ID{% endtrans %}</th>
                                <td>#{{ feed.id }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Name{% endtrans %}</th>
                                <td>{{ feed.name }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Added to the application{% endtrans %}</th>
                                <td>{{ feed.created }}</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
                <article class="span6">
                    <h2><span class="awe-globe"></span> {% trans %}Position{% endtrans %}</h2>
                    <div id="feed-location-map"></div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>{% trans %}Address{% endtrans %}</th>
                                <td>{{ feed.address }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}GPS Coordinates{% endtrans %}</th>
                                <td>{{ feed.latitude }} {{ feed.longitude }}</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="page-container">
            <h2><span class="awe-calendar"></span> {% trans %}History{% endtrans %}</h2>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    {{ super() }}
    <script src="//maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;sensor=false"></script>
    <script>
        $(function(){
            var position = new google.maps.LatLng({{ feed.latitude }}, {{ feed.longitude }});
            var map = new google.maps.Map(
                document.getElementById("feed-location-map"),
                {
                    center: position,
                    zoom: 10,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    streetViewControl: false
                }
            );
            var marker = new google.maps.Marker({
                map: map,
                title: {{ feed.name|tojson|safe }},
                position: position
            });
        });
    </script>
{% endblock %}
