{% extends "sngconnect.telemetry:templates/feed/base.jinja2" %}
{% from "sngconnect:templates/macros/message_table.jinja2" import message_table with context %}
{% from "sngconnect.telemetry:templates/feed/macros/render_chart.jinja2" import render_chart with context %}
{% set active_secondary_navigation = "dashboard" %}

{% block head_stylesheets %}
    {{ super() }}
    <style>
        #feed-location-map {
            width: 100%;
            height: 300px;
        }
        .gauge {
            width: 100px;
            height: 80px;
            float: left;
        }
    </style>
{% endblock %}

{% block body_main %}
    {{ super() }}
    {% if activation %}
        <div class="hero-unit blow">
            <h2>{% trans %}You have to connect your device.{% endtrans %}</h2>
            <p>
                {% trans %}Use this code:{% endtrans %}
                <code>{{ activation.code }}</code>
            </p>
        </div>
    {% else %}
        {% if active_alarms or important_messages %}
            <div class="hero-unit blow">
                {% if active_alarms %}
                    <h2><span class="awe-exclamation-sign"></span> {% trans %}Active alarms{% endtrans %}</h2>
                    <div class="alert alert-error">
                        {% trans count=active_alarms|length|format_number -%}
                            You have <code>{{ count }}</code> alarms active. If you don't know what it means - contact your device's administrator.
                        {%- endtrans %}
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans %}Activation date{% endtrans %}</th>
                                <th>{% trans %}Parameter{% endtrans %}</th>
                                <th>{% trans %}Problem{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for alarm in active_alarms %}
                                <tr>
                                    <td>{{ alarm.activation_date|format_datetime }}</td>
                                    <td><a href="{{ alarm.data_stream.url }}">{{ alarm.data_stream.name }}</a></td>
                                    <td>
                                        {% if alarm.alarm_type == 'MAXIMAL_VALUE' %}
                                            {% trans maximal_value=alarm.boundary|format_decimal %}Maximal value (<code>{{ maximal_value }}</code>) exceeded.{% endtrans %}
                                        {% elif alarm.alarm_type == 'MINIMAL_VALUE' %}
                                            {% trans minimal_value=alarm.boundary|format_decimal %}Value below the minimum (<code>{{ minimal_value }}</code>).{% endtrans %}
                                        {% else %}
                                            {% trans %}Unknown problem. Contact system support.{% endtrans %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if important_messages %}
                    <h2><span class="awe-exclamation-sign"></span> {% trans %}Important messages{% endtrans %}</h2>
                    <div class="alert alert-error">
                        {% trans count=important_messages|length|format_number -%}
                            You have <code>{{ count }}</code> new important messages.
                        {%- endtrans %}
                    </div>
                    {{ message_table(important_messages) }}
                {% endif %}
            </div>
        {% endif %}
        <div class="content">
            <div class="page-container">
                {% if settings or parameters %}
                    <h2><span class="awe-eye-open"></span> {% trans %}Important parameters and settings{% endtrans %}</h2>
                {% endif %}
                <div class="row">
                    <div id="gauges" class="span6">
                        {% if feed.dashboard_layout == 'IMAGE' %}
                            {% if feed.image_url %}
                                <img src="{{ feed.image_url }}" style="float: left; margin-right: 20px;">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="span6">
                        {% if parameters %}
                            <h3>{% trans %}Parameters{% endtrans %}</h2>
                            <table class="table table-values" data-provides="rowlink">
                                <thead>
                                    <th>{% trans %}Name{% endtrans %}</th>
                                    <th>{% trans %}Last known value{% endtrans %}</th>
                                    <th>{% trans %}Today minimum/maximum{% endtrans %}</th>
                                </thead>
                                <tbody>
                                    {% for data_stream in parameters %}
                                        <tr>
                                            <td><a href="{{ data_stream.url }}">{{ data_stream.name }}</a></td>
                                            {% if data_stream.last_value %}
                                                <td><span class="current-value">{{ data_stream.last_value.value|format_decimal }} <span class="unit">{{ data_stream.measurement_unit }}</span></span></td>
                                            {% else %}
                                                <td class="no-data">{% trans %}no data{% endtrans %}</td>
                                            {% endif %}
                                            {% if data_stream.today %}
                                                <td><span class="current-value">{{ data_stream.today.minimum|format_decimal }} / {{ data_stream.today.maximum|format_decimal }} <span class="unit">{{ data_stream.measurement_unit }}</span></span></td>
                                            {% else %}
                                                <td class="no-data">{% trans %}no data{% endtrans %}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% if settings %}
                            <h3>{% trans %}Settings{% endtrans %}</h2>
                            <table class="table table-values" data-provides="rowlink">
                                <thead>
                                    <th>{% trans %}Name{% endtrans %}</th>
                                    <th>{% trans %}Last known value{% endtrans %}</th>
                                    {% if 'change_settings' in feed_permissions %}
                                        <th class="show-js">{% trans %}Set{% endtrans %}</th>
                                    {% endif %}
                                </thead>
                                <tbody>
                                    {% for data_stream in settings %}
                                        <tr>
                                            <td><a href="{{ data_stream.url }}">{{ data_stream.name }}</a></td>
                                            {% if data_stream.last_value %}
                                                <td><span class="current-value">{{ data_stream.last_value.value|format_decimal }} <span class="unit">{{ data_stream.measurement_unit }}</span></span></td>
                                            {% else %}
                                                <td class="no-data">{% trans %}no data{% endtrans %}</td>
                                            {% endif %}
                                            {% if 'change_settings' in feed_permissions %}
                                                <td class="show-js nolink">
                                                    <form action="{{ data_stream.value_url }}" class="set-value-form" method="post" style="background: none; margin-bottom: 0;" class="form-inline">
                                                        {{ data_stream.value_form.csrf_token }}
                                                        <div style="height: 28px; margin: 0; padding: 0;" class="control-group">
                                                            <span class="input-append">
                                                                {{ data_stream.value_form.value(class="input-small") }}
                                                                <button type="submit" class="btn">{% trans %}Set{% endtrans %}</button>
                                                            </span>
                                                            <span class="loading" style="{% if data_stream.requested_value == None %}display: none; {% endif %}margin: -2px 0 0 10px;"></span>
                                                        </div>
                                                    </form>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div style="clear: both;"></div>
                {% if charts %}
                    <h2 class="show-js"><span class="awe-bar-chart"></span> {% trans %}Important charts{% endtrans %}</h2>
                    {% for chart in charts %}
                        <div class="show-js form-inline pull-right">
                            <label style="line-height: 25px; padding: 0 5px 0 5px;">{% trans %}Last{% endtrans %}</label>
                            <div id="set-last-range-{{ chart.definition.id }}" class="set-last-range-group btn-group">
                                <button class="btn" data-last="{{ 1 }}">{% trans %}hour{% endtrans %}</button>
                                <button class="btn" data-last="{{ 24 }}">{% trans %}24 hours{% endtrans %}</button>
                                <button class="btn active" data-last="{{ 24 * 7 }}">{% trans %}7 days{% endtrans %}</button>
                                <button class="btn" data-last="{{ 24 * 30 }}">{% trans %}30 days{% endtrans %}</button>
                                <button class="btn" data-last="{{ 24 * 365 }}">{% trans %}1 year{% endtrans %}</button>
                            </div>
                        </div>
                        <div class="center">
                            <div id="rendered-chart-{{ chart.definition.id }}"></div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="span6">
                        <h2><span class="awe-info-sign"></span> {% trans %}Information{% endtrans %}</h2>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <div class="well">
                                            {{ feed.description }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{% trans %}ID{% endtrans %}</th>
                                    <td>#{{ feed.id }}</td>
                                </tr>
                                <tr>
                                    <th>{% trans %}Name{% endtrans %}</th>
                                    <td>{{ feed.name }}</td>
                                </tr>
                                <tr>
                                    <th>{% trans %}Added to the application{% endtrans %}</th>
                                    <td>{{ feed.created|format_datetime }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="span6">
                        <h2><span class="awe-globe"></span> {% trans %}Location{% endtrans %}</h2>
                        <div id="feed-location-map" class="show-js"></div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>{% trans %}Address{% endtrans %}</th>
                                    <td>{{ feed.address }}</td>
                                </tr>
                                <tr>
                                    <th>{% trans %}GPS Coordinates{% endtrans %}</th>
                                    <td><code>{{ feed.latitude|format_decimal(format="0.000000") }}</code> <code>{{ feed.longitude|format_decimal(format="0.000000") }}</code></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block page_content %}
    {% if not activation %}
        <p style="margin-top: -20px; color: #aaa;">
            <span class="awe-retweet"></span> <strong>{% trans %}Last update:{% endtrans %}</strong> {{ last_updated|format_datetime }}
        </p>
    {% endif %}
{% endblock %}

{% block body_scripts %}
    {{ super() }}
    <script src="//maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;sensor=false"></script>
    <script>
        $(function(){
            var position = new google.maps.LatLng({{ feed.latitude }}, {{ feed.longitude }});
            var map = new google.maps.Map(
                document.getElementById("feed-location-map"),
                {
                    center: position,
                    zoom: 10,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    streetViewControl: false,
                    panControl: false,
                    scrollwheel: false
                }
            );
            var marker = new google.maps.Marker({
                map: map,
                title: {{ feed.name|tojson }},
                position: position
            });
            $('.set-value-form').submit(function(event){
                var form = $(event.target);
                event.preventDefault();
                $.ajax({
                    url: form.attr("action"),
                    type: "POST",
                    data: form.serialize(),
                    success: function(data, textStatus, jqXHR){
                        if (data.success) {
                            form.find(".control-group").removeClass("error");
                            form.find(".loading").show();
                            form.tooltip({
                                title: {% filter tojson %}{% trans %}Change requested. Refresh the page to see when the value changes.{% endtrans %}{% endfilter %},
                                trigger: "manual"
                            });
                            form.tooltip("show");
                            setTimeout(function(){
                                form.tooltip("hide");
                            }, 1000 * 5);
                        } else {
                            form.find(".control-group").addClass("error");
                        }
                    }
                });
            });
        });
    </script>
    {% for chart in charts %}
        {{ render_chart(
            "rendered-chart-%d" % chart.definition.id,
            None,
            '#set-last-range-%d button' % chart.definition.id,
            chart.rendering_data,
            24 * 7
        ) }}
    {% endfor %}
    {% if feed.dashboard_layout == 'GAUGES' %}
        <script>
            $(function(){
                var gaugeCount = 0;

                {# Here configure number and size of gauges displayed on top of dashboard #}
                var gaugeMaxCount = 5;
                var gaugeScales = [1, 0.5, 0.5, 0.5, 0.5];

                function addGauge(id, value, min, max, title, label) {
                    if (gaugeCount == gaugeMaxCount)
                        return;
                    // create new gauge element
                    $('#gauges').append('<div id="'+id+'" class="gauge"></div>');
                    var gaugeElem = $('#'+id);
                    // scale new gauge
                    var scale = gaugeScales[gaugeCount];
                    var gaugesWidth = $('#gauges').width();
                    var gaugeRatio = gaugeElem.width() / gaugeElem.height();
                    gaugeElem.width(gaugesWidth * scale);
                    gaugeElem.height(gaugesWidth * scale / gaugeRatio);
                    var gauge = new JustGage({
                      id: id, 
                      value: value, 
                      min: min,
                      max: max,
                      title: title,
                      label: label
                    });
                    gaugeCount++;
                }

                {% for data_stream in parameters %}
                    {% if data_stream.default_minimum is not none and data_stream.default_maximum is not none %}
                        addGauge('gauge{{ loop.index }}',
                            {% if data_stream.last_value %}
                                {{ data_stream.last_value.value }},
                                {{ data_stream.default_minimum }},
                                {{ data_stream.default_maximum }},
                                '{{ data_stream.name }}',
                                '{{ data_stream.measurement_unit }}'
                            {% else %}
                                {{ data_stream.default_minimum }},
                                {{ data_stream.default_minimum }},
                                {{ data_stream.default_maximum }},
                                '{{ data_stream.name }}',
                                '{% trans %}no data{% endtrans %}'
                            {% endif %}
                        );
                    {% endif %}
                {% endfor %}
            });
        </script>
    {% endif %}
{% endblock %}
