{% extends "sngconnect.telemetry:templates/feed/data_streams.jinja2" %}
{% from "sngconnect:templates/macros/horizontal_form_field.jinja2" import horizontal_form_field %}
{% from "sngconnect:templates/macros/message_table.jinja2" import message_table with context %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ data_stream.url }}" title="{{ data_stream.name }}">{{ data_stream.name }}</a></li>
{% endblock %}

{% block page_content %}
    <h2>{{ data_stream.name }}</h2>
    <div class="row">
        <article class="span6">
            <h2><span class="awe-th-list"></span> {% trans %}Values{% endtrans %}</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th>{% trans %}Current value{% endtrans %}</th>
                        {% if data_stream.last_value %}
                            <td><span class="current-value">{{ data_stream.last_value.value|format_decimal }} <span class="unit">{{ data_stream.measurement_unit }}</span></span></td>
                        {% else %}
                            <td class="no-data">{% trans %}no data{% endtrans %}</td>
                        {% endif %}
                    </tr>
                    {% if data_stream.last_value %}
                        <tr>
                            <th>{% trans %}Last update{% endtrans %}</th>
                            <td><span class="other-value">{{ data_stream.last_value.date|format_datetime }}</span></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans %}Period{% endtrans %}</th>
                        <th>{% trans %}Mean value{% endtrans %}</th>
                        <th>{% trans %}Minimal value{% endtrans %}</th>
                        <th>{% trans %}Maximal value{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{% trans %}This hour{% endtrans %}</td>
                        {% if data_stream.this_hour %}
                            <td><span class="other-value">{{ data_stream.this_hour.mean|format_decimal }}</span</td>
                            <td><span class="other-value">{{ data_stream.this_hour.minimum|format_decimal }}</span></td>
                            <td><span class="other-value">{{ data_stream.this_hour.maximum|format_decimal }}</span></td>
                        {% else %}
                            <td class="no-data" colspan="3">{% trans %}no data{% endtrans %}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>{% trans %}Today{% endtrans %}</td>
                        {% if data_stream.today %}
                            <td><span class="other-value">{{ data_stream.today.mean|format_decimal }}</span></td>
                            <td><span class="other-value">{{ data_stream.today.minimum|format_decimal }}</span></td>
                            <td><span class="other-value">{{ data_stream.today.maximum|format_decimal }}</span></td>
                        {% else %}
                            <td class="no-data" colspan="3">{% trans %}no data{% endtrans %}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>{% trans %}This month{% endtrans %}</td>
                        {% if data_stream.this_month %}
                            <td><span class="other-value">{{ data_stream.this_month.mean|format_decimal }}</span></td>
                            <td><span class="other-value">{{ data_stream.this_month.minimum|format_decimal }}</span></td>
                            <td><span class="other-value">{{ data_stream.this_month.maximum|format_decimal }}</span></td>
                        {% else %}
                            <td class="no-data" colspan="3">{% trans %}no data{% endtrans %}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </article>
        <article class="span6">
            <h2><span class="awe-info-sign"></span> {% trans %}Description{% endtrans %}</h2>
            <p>{{ data_stream.description }}</p>
        </article>
    </div>
    <div class="row">
        <article class="span6">
            <h2><span class="awe-th-list"></span> {% trans %}Allowed values{% endtrans %}</h2>
            <form action="" method="post" class="form">
                {{ value_bounds_form.csrf_token }}
                {{ horizontal_form_field(value_bounds_form.minimum) }}
                {{ horizontal_form_field(value_bounds_form.maximum) }}
                <div class="form-actions">
                    <button type="submit" name="submit_value_bounds" class="btn btn-primary">{% trans %}Set{% endtrans %}</button>
                </div>
            </form>
        </article>
        <article class="span6">
            <h2><span class="awe-info-sign"></span> {% trans %}Notifications{% endtrans %}</h2>
        </article>
    </div>
    {% if data_stream.last_day_values|length > 1 or data_stream.last_week_values|length > 1 or data_stream.last_year_values|length > 1 %}
        <h2><span class="awe-signal"></span> {% trans %}Chart{% endtrans %}</h2>
        <div id="last-day-chart"></div>
        <div id="last-week-chart"></div>
        <div id="last-year-chart"></div>
    {% endif %}
    <h2><span class="awe-comment"></span> {% trans %}Add comment{% endtrans %}</h2>
    <form action="" method="post">
        {{ comment_form.csrf_token }}
        {{ horizontal_form_field(comment_form.content, kwargs={'class': '', 'style': 'width: 98%;', 'rows': 5}) }}
        <div class="form-actions">
            <button type="submit" name="submit_comment" class="btn btn-primary">{% trans %}Add{% endtrans %}</button>
        </div>
    </form>
    <h2><span class="awe-calendar"></span> {% trans %}Browse history{% endtrans %}</h2>
    {{ message_table(messages) }}
{% endblock %}

{% block body_scripts %}
    {{ super() }}
    {% if data_stream.last_day_values|length > 1 or data_stream.last_week_values|length > 1 or data_stream.last_year_values|length > 1 %}
        <script>
            {% if data_stream.last_day_values|length > 1 %}
                $(function(){
                    var last_day_chart;
                    $(document).ready(function(){
                        last_day_chart = new Highcharts.Chart({
                            chart: {renderTo: "last-day-chart", backgroundColor: null},
                            title: {text: {% filter tojson %}{% trans %}Last day{% endtrans %}{% endfilter %}},
                            xAxis: {type: "datetime"},
                            yAxis: {
                                title: {text: {{ data_stream.name|tojson }} + " [" + {{ data_stream.measurement_unit|tojson }} + "]"}
                            },
                            tooltip: {shared: true},
                            legend: {enabled: true},
                            colors: ['#80699B', '#4572A7'],
                            plotOptions: {
                                area: {
                                    lineWidth: 1,
                                    marker: {
                                        enabled: false,
                                        states: {
                                            hover: {
                                                enabled: true,
                                                radius: 5
                                            }
                                        }
                                    },
                                    shadow: false,
                                    states: {
                                        hover: {lineWidth: 1}
                                    }
                                }
                            },
                            series: [
                                {
                                    name: "{% trans %}Value{% endtrans %}",
                                    type: "area",
                                    data: [
                                        {%- for data_point in data_stream.last_day_values -%}
                                            {%- with d = data_point[0] -%}
                                                [Date.UTC({{ d.year }},{{ d.month- 1 }},{{ d.day }},{{ d.hour }},{{ d.minute }},{{ d.second }},{{ d.microsecond / 1000 }}),{{ data_point[1] }}]
                                                {%- if not loop.last %},{% endif -%}
                                            {%- endwith -%}
                                        {%- endfor -%}
                                    ]
                                }
                            ]
                        });
                    });
                });
            {% endif %}
            {% if data_stream.last_week_values|length > 1 -%}
                $(function(){
                    var last_week_chart;
                    $(document).ready(function(){
                        last_week_chart = new Highcharts.Chart({
                            chart: {renderTo: "last-week-chart", backgroundColor: null},
                            title: {text: {% filter tojson %}{% trans %}Last week{% endtrans %}{% endfilter %}},
                            xAxis: {type: "datetime"},
                            yAxis: {
                                title: {text: {{ data_stream.name|tojson }} + " [" + {{ data_stream.measurement_unit|tojson }} + "]"}
                            },
                            tooltip: {shared: true},
                            legend: {enabled: true},
                            colors: ['#AA4643', '#80699B', '#4572A7'],
                            plotOptions: {
                                area: {
                                    lineWidth: 1,
                                    marker: {
                                        enabled: false,
                                        states: {
                                            hover: {
                                                enabled: true,
                                                radius: 5
                                            }
                                        }
                                    },
                                    shadow: false,
                                    states: {
                                        hover: {lineWidth: 1}
                                    }
                                }
                            },
                            series: [
                                {
                                    name: "{% trans %}Maximum{% endtrans %}",
                                    type: "area",
                                    data: [
                                        {%- for data_point in data_stream.last_week_values -%}
                                            {%- with d = data_point[0] -%}
                                                [Date.UTC({{ d.year }},{{ d.month - 1 }},{{ d.day }},{{ d.hour }},{{ d.minute }},{{ d.second }},{{ d.microsecond / 1000 }}),{{ data_point[1].maximum }}]
                                                {%- if not loop.last %},{% endif -%}
                                            {%- endwith -%}
                                        {%- endfor -%}
                                    ]
                                },
                                {
                                    name: "{% trans %}Mean{% endtrans %}",
                                    type: "area",
                                    data: [
                                        {%- for data_point in data_stream.last_week_values -%}
                                            {%- with d = data_point[0] -%}
                                                [Date.UTC({{ d.year }},{{ d.month - 1 }},{{ d.day }},{{ d.hour }},{{ d.minute }},{{ d.second }},{{ d.microsecond / 1000 }}),{{ data_point[1].mean }}]
                                                {%- if not loop.last %},{% endif -%}
                                            {%- endwith -%}
                                        {%- endfor -%}
                                    ]
                                },
                                {
                                    name: "{% trans %}Minimum{% endtrans %}",
                                    type: "area",
                                    data: [
                                        {%- for data_point in data_stream.last_week_values -%}
                                            {%- with d = data_point[0] -%}
                                                [Date.UTC({{ d.year }},{{ d.month - 1 }},{{ d.day }},{{ d.hour }},{{ d.minute }},{{ d.second }},{{ d.microsecond / 1000 }}),{{ data_point[1].minimum }}]
                                                {%- if not loop.last %},{% endif -%}
                                            {%- endwith -%}
                                        {%- endfor -%}
                                    ]
                                }
                            ]
                        });
                    });
                });
            {% endif %}
            {% if data_stream.last_year_values|length > 1 %}
                $(function(){
                    var last_year_chart;
                    $(document).ready(function(){
                        last_year_chart = new Highcharts.Chart({
                            chart: {renderTo: "last-year-chart", backgroundColor: null},
                            title: {text: {% filter tojson %}{% trans %}Last year{% endtrans %}{% endfilter %}},
                            xAxis: {type: "datetime"},
                            yAxis: {
                                title: {text: {{ data_stream.name|tojson }} + " [" + {{ data_stream.measurement_unit|tojson }} + "]"}
                            },
                            tooltip: {shared: true},
                            legend: {enabled: true},
                            colors: ['#AA4643', '#80699B', '#4572A7'],
                            plotOptions: {
                                area: {
                                    lineWidth: 1,
                                    marker: {
                                        enabled: false,
                                        states: {
                                            hover: {
                                                enabled: true,
                                                radius: 5
                                            }
                                        }
                                    },
                                    shadow: false,
                                    states: {
                                        hover: {lineWidth: 1}
                                    }
                                }
                            },
                            series: [
                                {
                                    name: "{% trans %}Maximum{% endtrans %}",
                                    type: "area",
                                    data: [
                                        {%- for data_point in data_stream.last_year_values -%}
                                            {%- with d = data_point[0] -%}
                                                [Date.UTC({{ d.year }},{{ d.month - 1 }},{{ d.day }},{{ d.hour }},{{ d.minute }},{{ d.second }},{{ d.microsecond / 1000 }}),{{ data_point[1].maximum }}]
                                                {%- if not loop.last %},{% endif -%}
                                            {%- endwith -%}
                                        {%- endfor -%}
                                    ]
                                },
                                {
                                    name: "{% trans %}Mean{% endtrans %}",
                                    type: "area",
                                    data: [
                                        {%- for data_point in data_stream.last_year_values -%}
                                            {%- with d = data_point[0] -%}
                                                [Date.UTC({{ d.year }},{{ d.month - 1 }},{{ d.day }},{{ d.hour }},{{ d.minute }},{{ d.second }},{{ d.microsecond / 1000 }}),{{ data_point[1].mean }}]
                                                {%- if not loop.last %},{% endif -%}
                                            {%- endwith -%}
                                        {%- endfor -%}
                                    ]
                                },
                                {
                                    name: "{% trans %}Minimum{% endtrans %}",
                                    type: "area",
                                    data: [
                                        {%- for data_point in data_stream.last_year_values -%}
                                            {%- with d = data_point[0] -%}
                                                [Date.UTC({{ d.year }},{{ d.month - 1 }},{{ d.day }},{{ d.hour }},{{ d.minute }},{{ d.second }},{{ d.microsecond / 1000 }}),{{ data_point[1].minimum }}]
                                                {%- if not loop.last %},{% endif -%}
                                            {%- endwith -%}
                                        {%- endfor -%}
                                    ]
                                }
                            ]
                        });
                    });
                });
            {% endif %}
        </script>
    {% endif %}
{% endblock %}
