{% extends "sngconnect.telemetry:templates/feed/base.jinja2" %}
{% from "sngconnect:templates/macros/horizontal_form_field.jinja2" import horizontal_form_field %}
{% from "sngconnect:templates/macros/message_table.jinja2" import message_table with context %}
{% set active_secondary_navigation = "history" %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ feed.history_url }}" title="{% trans %}History{% endtrans %}">{% trans %}History{% endtrans %}</a></li>
{% endblock %}

{% block page_content %}
    <h2><span class="awe-comment"></span> {% trans %}Add comment{% endtrans %}</h2>
    <form action="" method="post">
        {{ comment_form.csrf_token }}
        {{ horizontal_form_field(comment_form.content, kwargs={'class': '', 'style': 'width: 98%;', 'rows': 5}) }}
        <div class="form-actions">
            <button type="submit" name="submit_comment" class="btn btn-primary">{% trans %}Add{% endtrans %}</button>
        </div>
    </form>
    <h2><span class="awe-calendar"></span> {% trans %}Browse history{% endtrans %}</h2>
    {{ message_table(messages) }}
{% endblock %}
