{% extends "sngconnect.telemetry:templates/feed/base.jinja2" %}
{% from "sngconnect.telemetry:templates/feed/macros/message_table.jinja2" import message_table with context %}
{% set active_secondary_navigation = "history" %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ feed.history_url }}" title="{% trans %}History{% endtrans %}">{% trans %}History{% endtrans %}</a></li>
{% endblock %}

{% block page_content %}
    {{ message_table(messages) }}
{% endblock %}
