{% extends "sngconnect.telemetry:templates/feed/base.jinja2" %}
{% from "sngconnect:templates/macros/horizontal_form_field.jinja2" import horizontal_form_field %}
{% set active_secondary_navigation = "permissions" %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ feed.permissions_url }}" title="{% trans %}Permissions{% endtrans %}">{% trans %}Permissions{% endtrans %}</a></li>
{% endblock %}

{% block page_content %}
    {% if can_manage_users %}
        <h2 id="users">{% trans %}Users{% endtrans %}</h2>
        <form action="{{ request.route_url("sngconnect.telemetry.feed_permissions.set_user_permissions", feed_id=feed.id) }}" method="post" style="background: none;">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans %}Name [person]{% endtrans %}</th>
                        <th>{% trans %}E-mail{% endtrans %}</th>
                        <th>{% trans %}Access{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feed_user in feed_users %}
                        <tr>
                            <td>{{ feed_user.user.name }}</td>
                            <td>{{ feed_user.user.email }}</td>
                            <td>
                                <select {% if feed_user.user.id == user.id %}disabled="true"{% else %}name="role-{{ feed_user.id }}"{% endif %}>
                                    <option value="">{% trans %}no access{% endtrans %}</option>
                                    <option value="USER_STANDARD" {%- if feed_user.role == 'USER_STANDARD' %} selected{% endif %}>{% trans %}User{% endtrans %}</option>
                                    {% if can_set_user_plus %}
                                        <option value="USER_PLUS" {%- if feed_user.role == 'USER_PLUS' %} selected{% endif %}>{% trans %}User Plus{% endtrans %}</option>
                                    {% endif %}
                                </select>
                            </td>
                        </tr>
                    {% else %}
                        <tr><td colspan="3" class="no-data">{% trans %}no users yet{% endtrans %}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="text-align: right;">
                <button type="submit" class="btn btn-primary">
                    <span class="awe-check"></span> {% trans %}Save permissions{% endtrans %}
                </button>
            </div>
        </form>
        <h3 id="add-user">{% trans %}Add user{% endtrans %}</h3>
        <form action="" method="post" class="form-horizontal">
            <fieldset>
                {{ add_user_form.csrf_token }}
                {{ horizontal_form_field(add_user_form.email) }}
                <div class="form-actions">
                    <button type="submit" name="submit_add_user" class="btn btn-primary">
                        <span class="awe-plus"></span> {% trans %}Add user{% endtrans %}
                    </button>
                </div>
            </fieldset>
        </form>
    {% endif %}
    <h2 id="maintainers">{% trans %}Maintainers{% endtrans %}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Company{% endtrans %}</th>
                <th>{% trans %}Name [person]{% endtrans %}</th>
                <th>{% trans %}E-mail{% endtrans %}</th>
                <th>{% trans %}Access{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for maintainer in feed_maintainers %}
                <tr>
                    <td>{% if maintainer.feed_user.user.company_name %}{{ maintainer.feed_user.user.company_name }}{% endif %}</td>
                    <td>{{ maintainer.feed_user.user.name }}</td>
                    <td>{{ maintainer.feed_user.user.email }}</td>
                    <td>
                        {% if maintainer.feed_user.user != user %}
                            <form action="{{ revoke_maintainer_access_url }}" method="post" class="inline-form">
                                {{ maintainer.revoke_access_form.csrf_token }}
                                {{ maintainer.revoke_access_form.id }}
                                <button type="submit" class="btn btn-danger">{% trans %}Revoke access{% endtrans %}</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="5" class="no-data">{% trans %}no maintainers yet{% endtrans %}</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <h3 id="add-maintainer">{% trans %}Add maintainer{% endtrans %}</h3>
    <form action="" method="post" class="form-horizontal">
        <fieldset>
            {{ add_maintainer_form.csrf_token }}
            {{ horizontal_form_field(add_maintainer_form.email) }}
            <div class="form-actions">
                <button type="submit" name="submit_add_maintainer" class="btn btn-primary">
                    <span class="awe-plus"></span> {% trans %}Add maintainer{% endtrans %}
                </button>
            </div>
        </fieldset>
    </form>
{% endblock %}
