{% extends "sngconnect.telemetry:templates/feed/base.jinja2" %}
{% set active_secondary_navigation = "settings" %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ feed.settings_url }}" title="{% trans %}Settings{% endtrans %}">{% trans %}Settings{% endtrans %}</a></li>
{% endblock %}

{% block page_content %}
    <h2><span class="awe-th-list"></span> {% trans %}Current setting values{% endtrans %}</h2>
    <table class="table">
        <thead>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Unit of measurement{% endtrans %}</th>
            <th>{% trans %}Value{% endtrans %}</th>
            <th>{% trans %}Last change{% endtrans %}</th>
        </thead>
        <tbody>
            {% for data_stream in data_streams %}
                <tr>
                    <td><a href="{{ data_stream.url }}">{{ data_stream.name }}</a></td>
                    <td>{{ data_stream.measurement_unit }}</td>
                    {% if data_stream.last_value %}
                        <td><code>{{ data_stream.last_value.value }}</code></td>
                        <td>{{ data_stream.last_value.date }}</td>
                    {% else %}
                        <td class="no-data" colspan="2">{% trans %}no data{% endtrans %}</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td class="no-data" colspan="4">
                        {% trans %}This device has no settings.{% endtrans %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
