{% extends "sngconnect.telemetry:templates/feed/settings.jinja2" %}
{% from "sngconnect:templates/macros/horizontal_form_field.jinja2" import horizontal_form_field %}
{% from "sngconnect:templates/macros/message_table.jinja2" import message_table with context %}
{% from "sngconnect.telemetry:templates/feed/macros/chart_controls.jinja2" import chart_controls with context %}
{% from "sngconnect.telemetry:templates/feed/macros/render_chart.jinja2" import render_chart with context %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ data_stream.url }}" title="{{ data_stream.name }}">{{ data_stream.name }}</a></li>
{% endblock %}

{% block page_content %}
    <h2>{{ data_stream.name }}</h2>
    <div class="row">
        <article class="span6">
            <h2><span class="awe-th-list"></span> {% trans %}Values{% endtrans %}</h2>
            <table class="table">
                <tbody>
                    {% if data_stream.last_value %}
                        <tr>
                            <th>{% trans %}Current value{% endtrans %}</th>
                            <td><span class="current-value">{{ data_stream.last_value.value|format_decimal }} <span class="unit">{{ data_stream.measurement_unit }}</span></span></td>
                        </tr>
                        <tr>
                            <th>{% trans %}Last change{% endtrans %}</th>
                            <td><span class="other-value">{{ data_stream.last_value.date|format_datetime }}</span></td>
                        </tr>
                    {% else %}
                        <tr>
                            <th>{% trans %}Current value{% endtrans %}</th>
                            <td class="no-data" rowspan="2">{% trans %}no data{% endtrans %}</td>
                        </tr>
                        <tr>
                            <th>{% trans %}Last change{% endtrans %}</th>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </article>
        <article class="span6">
            <h2><span class="awe-info-sign"></span> {% trans %}Description{% endtrans %}</h2>
            <p>{{ data_stream.description }}</p>
        </article>
    </div>
    <div class="row">
        <article class="span6">
            <h2><span class="awe-th-list"></span> {% trans %}Set value{% endtrans %}</h2>
            <form action="" method="post" class="form">
                {{ value_form.csrf_token }}
                {{ horizontal_form_field(value_form.value) }}
                <div class="form-actions">
                    <button type="submit" name="submit_value" class="btn btn-primary">{% trans %}Set{% endtrans %}</button>
                </div>
            </form>
        </article>
        <article class="span6">
            <h2><span class="awe-info-sign"></span> {% trans %}Notifications{% endtrans %}</h2>
        </article>
    </div>
    <h2><span class="awe-signal"></span> {% trans %}Chart{% endtrans %}</h2>
    {{ chart_controls(
        'rendered-chart',
        '',
        set_range_form,
        'set-range-button',
        'set-last-range'
    ) }}
    <h2><span class="awe-comment"></span> {% trans %}Add comment{% endtrans %}</h2>
    <form action="" method="post">
        {{ comment_form.csrf_token }}
        {{ horizontal_form_field(comment_form.content, kwargs={'class': '', 'style': 'width: 98%;', 'rows': 5}) }}
        <div class="form-actions">
            <button type="submit" name="submit_comment" class="btn btn-primary">{% trans %}Add{% endtrans %}</button>
        </div>
    </form>
    <h2><span class="awe-calendar"></span> {% trans %}Browse history{% endtrans %}</h2>
    {{ message_table(messages) }}
{% endblock %}

{% block body_scripts %}
    {{ super() }}
    {{ render_chart(
        'rendered-chart',
        '#set-range-button',
        '#set-last-range button',
        chart_rendering_data,
        24 * 7
    ) }}
    <script>
        $(function(){
            $('.datepicker').datepicker({
                format: "yyyy-mm-dd",
                weekStart: 1
            });
        });
    </script>
{% endblock %}
