{% macro message_table(messages) %}
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}Message{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr
                    {%- if message.message_type == 'INFORMATION' %}
                    {%- elif message.message_type == 'ERROR' %} class="alert-error"
                    {%- elif message.message_type == 'WARNING' %} class="alert"
                    {%- endif -%}
                >
                    <td>{{ message.date|format_datetime }}</td>
                    <td>
                        {% if message.confirm_form %}
                            <form action="{{ message.confirm_url }}"
                            method="post" style="float: right; margin: 0; background: none;">
                                {{ message.confirm_form.csrf_token }}
                                {{ message.confirm_form.id }}
                                <button type="submit" class="btn btn-mini btn-success">
                                    <span class="awe-ok"></span> {% trans %}Confirm{% endtrans %}
                                </button>
                            </form>
                        {% endif %}
                        {% if message.author %}
                            <strong>{{ message.author.name }}:</strong>
                        {% endif %}
                        {{ message.content }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="no-data" colspan="2">
                        {% trans %}No messages yet.{% endtrans %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
