{% extends "sngconnect.devices:templates/base.jinja2" %}
{% from "sngconnect:templates/macros/horizontal_form_field.jinja2" import horizontal_form_field %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ feed_template.url }}" title="{{ feed_template.name }}">{{ feed_template.name }}</a></li>
    <li><a href="{{ data_stream_template.url }}" title="{{ data_stream_template.name }}">{{ data_stream_template.name }}</a></li>
{% endblock %}

{% block main_content %}
    <div class="page-header">
        <h1>{{ feed_template.name }}</h1>
    </div>
    <div class="page-container">
        <h2>{{ data_stream_template.name }}</h2>
        <form action="" method="post">
            {{ data_stream_template_form.csrf_token }}
            {{ data_stream_template_form.feed_template_id }}
            {{ horizontal_form_field(data_stream_template_form.name) }}
            {{ horizontal_form_field(data_stream_template_form.label) }}
            {{ horizontal_form_field(data_stream_template_form.sort_order) }}
            {{ horizontal_form_field(data_stream_template_form.description) }}
            {{ horizontal_form_field(data_stream_template_form.measurement_unit) }}
            {{ horizontal_form_field(data_stream_template_form.writable) }}
            {{ horizontal_form_field(data_stream_template_form.default_minimum) }}
            {{ horizontal_form_field(data_stream_template_form.default_maximum) }}
            {{ horizontal_form_field(data_stream_template_form.modbus_register_type) }}
            {{ horizontal_form_field(data_stream_template_form.modbus_slave) }}
            {{ horizontal_form_field(data_stream_template_form.modbus_address) }}
            {{ horizontal_form_field(data_stream_template_form.modbus_count) }}
            {{ horizontal_form_field(data_stream_template_form.show_on_dashboard) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><span class="awe-check"></span> {% trans %}Save{% endtrans %}</button>
            </div>
        </form>
    </div>
{% endblock %}
