{% extends "sngconnect:templates/base.jinja2" %}
{% from "sngconnect:templates/macros/horizontal_form_field.jinja2" import horizontal_form_field %}

{% block main_breadcrumb %}
{% endblock %}

{% block main_content %}
    <div class="page-header">
        <h1><span class="awe-ok"></span> {% trans %}Sign up{% endtrans %}</h1>
    </div>
    {% if successful_activation %}
        <div class="hero-unit blow">
            <h1>{% trans %}Your account has been successfully activated!{% endtrans %}</h1>
            <p>{% trans sign_in_url=request.route_url("sngconnect.accounts.sign_in") %}Now you can <a href="{{ sign_in_url }}">sign in here</a>{% endtrans %}.</p>
        </div>
    {% else %}
        <div class="page-container">
            <form action="" method="post" class="form-horizontal">
                <fieldset>
                    {{ activation_form.csrf_token }}
                    {{ horizontal_form_field(activation_form.phone_activation_code) }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-wuxia btn-primary">{% trans %}Activate{% endtrans %}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    {% endif %}
{% endblock %}
