{% extends "sngconnect:templates/base.jinja2" %}
{% from "sngconnect:templates/macros/horizontal_form_field.jinja2" import horizontal_form_field %}

{% block main_breadcrumb %}
{% endblock %}

{% block main_content %}
    <div class="page-header">
        <h1><span class="awe-cogs"></span> {% trans %}Account settings{% endtrans %}</h1>
    </div>
    <div class="page-container">
        <h2>{% trans %}Change account data{% endtrans %}</h2>
        <form action="" method="post" class="form-horizontal">
            <fieldset>
                {{ change_account_data_form.csrf_token }}
                {{ horizontal_form_field(change_account_data_form.user_name) }}
                {{ horizontal_form_field(change_account_data_form.company_name) }}
                {{ horizontal_form_field(change_account_data_form.phone) }}
                {{ horizontal_form_field(change_account_data_form.timezone_tzname) }}
                <div class="form-actions">
                    <button type="submit" name="submit_change_account_data" class="btn btn-primary">
                        {% trans %}Save account data{% endtrans %}
                    </button>
                </div>
            </fieldset>
        </form>
        <h2>{% trans %}Change notification settings{% endtrans %}</h2>
        <form action="" method="post" class="form-horizontal">
            <fieldset>
                {{ change_notification_settings_form.csrf_token }}
                {{ horizontal_form_field(change_notification_settings_form.send_email_error) }}
                {{ horizontal_form_field(change_notification_settings_form.send_email_warning) }}
                {{ horizontal_form_field(change_notification_settings_form.send_email_info) }}
                {{ horizontal_form_field(change_notification_settings_form.send_email_comment) }}
                {{ horizontal_form_field(change_notification_settings_form.send_sms_error) }}
                {{ horizontal_form_field(change_notification_settings_form.send_sms_warning) }}
                {{ horizontal_form_field(change_notification_settings_form.send_sms_info) }}
                {{ horizontal_form_field(change_notification_settings_form.send_sms_comment) }}
                <div class="form-actions">
                    <button type="submit" name="submit_change_notification_settings" class="btn btn-primary">
                        {% trans %}Save notification settings{% endtrans %}
                    </button>
                </div>
            </fieldset>
        </form>
        <h2>{% trans %}Change password{% endtrans %}</h2>
        <form action="" method="post" class="form-horizontal">
            <fieldset>
                {{ change_password_form.csrf_token }}
                {{ horizontal_form_field(change_password_form.password) }}
                {{ horizontal_form_field(change_password_form.repeated_password) }}
                <div class="form-actions">
                    <button type="submit" name="submit_change_password" class="btn btn-primary">
                        {% trans %}Change password{% endtrans %}
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
