{% extends "sngconnect:templates/base.jinja2" %}
{% from "sngconnect:templates/macros/horizontal_form_field.jinja2" import horizontal_form_field %}

{% block main_breadcrumb %}
{% endblock %}

{% block main_content %}
    <div class="page-header">
        <h1><span class="awe-ok"></span> {% trans %}Sign up{% endtrans %}</h1>
    </div>
    {% if successful_submission %}
        <div class="hero-unit blow">
            <h1>{% trans %}You have successfully signed up!{% endtrans %}</h1>
            <p>{% trans %}Follow the instructions in the e-mail we sent you to activate your account.{% endtrans %}</p>
            <p>{% trans sign_in_url=request.route_url("sngconnect.accounts.sign_in") %}Once you activate your account you can <a href="{{ sign_in_url }}">sign in here</a>{% endtrans %}.</p>
        </div>
    {% else %}
        <div class="page-container">
            <form action="" method="post" class="form-horizontal">
                <fieldset>
                    {{ sign_up_form.csrf_token }}
                    {{ horizontal_form_field(sign_up_form.email) }}
                    {{ horizontal_form_field(sign_up_form.password) }}
                    {{ horizontal_form_field(sign_up_form.repeated_password) }}
                    {{ horizontal_form_field(sign_up_form.phone) }}
                    {{ horizontal_form_field(sign_up_form.name) }}
                    {{ horizontal_form_field(sign_up_form.company_name) }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-wuxia btn-primary">{% trans %}Sign up{% endtrans %}</button>
                        <span style="margin-left: 20px;">
                            {% trans %}Already have an account?{% endtrans %}
                            <a href="{{ request.route_url("sngconnect.accounts.sign_in") }}">{% trans %}Sign in here{% endtrans %}</a>.
                        </span>
                    </div>
                </fieldset>
            </form>
        </div>
    {% endif %}
{% endblock %}
