{% extends "sngconnect:templates/base.jinja2" %}
{% from "sngconnect:templates/macros/horizontal_form_field.jinja2" import horizontal_form_field %}

{% block main_breadcrumb %}
{% endblock %}

{% block main_content %}
    <div class="page-header">
        <h1><span class="awe-signin"></span> {% trans %}Sign in{% endtrans %}</h1>
    </div>
    <div class="page-container">
        <form action="" method="post" class="form-horizontal">
            <fieldset>
                {{ sign_in_form.csrf_token }}
                {{ horizontal_form_field(sign_in_form.email) }}
                {{ horizontal_form_field(sign_in_form.password) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-wuxia btn-primary">{% trans %}Sign in{% endtrans %}</button>
                    <a href="{{ request.route_url("sngconnect.accounts.sign_up") }}" style="margin-left: 20px;">{% trans %}Sign up for a free account.{% endtrans %}</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
