{% extends "sngconnect.telemetry:templates/system/base.jinja2" %}
{% set active_secondary_navigation = "dashboard" %}

{% block head_stylesheets %}
    {{ super() }}
    <style>
        #system-location-map {
            width: 100%;
            height: 300px;
        }
    </style>
{% endblock %}

{% block body_main %}
    {{ super() }}
    <div class="hero-unit blow">
        <h2><span class="awe-exclamation-sign"></span> {% trans %}Active alarms{% endtrans %}</h2>
        <div class="alert alert-error">
            {% trans count=active_alarms|length -%}
                You have <code>{{ count }}</code> alarms active. If you don't know what it means - contact your system's administrator.
            {%- endtrans %}
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}Activation date{% endtrans %}</th>
                    <th>{% trans %}Parameter{% endtrans %}</th>
                    <th>{% trans %}Alarm type{% endtrans %}</th>
                    <th>{% trans %}Description{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for alarm in active_alarms %}
                    <tr>
                        <td>{{ alarm.activation_date }}</td>
                        <td>{{ alarm.parameter }}</td>
                        <td>{{ alarm.type }}</td>
                        <td>{{ alarm.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="content">
        <div class="page-container">
            <div class="row">
                <article class="span6">
                    <h2><span class="awe-eye-open"></span> {% trans %}Important parameters{% endtrans %}</h2>
                </article>
                <article class="span6">
                    <h2><span class="awe-signal"></span> {% trans %}Chart{% endtrans %}</h2>
                </article>
            </div>
            <div class="row">
                <article class="span6">
                    <h2><span class="awe-info-sign"></span> {% trans %}Information{% endtrans %}</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="well">
                                        {{ system.description }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans %}ID{% endtrans %}</th>
                                <td>#{{ system.id }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Name{% endtrans %}</th>
                                <td>{{ system.name }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Added to the application{% endtrans %}</th>
                                <td>{{ system.created }}</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
                <article class="span6">
                    <h2><span class="awe-globe"></span> {% trans %}Position{% endtrans %}</h2>
                    <div id="system-location-map"></div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>{% trans %}Address{% endtrans %}</th>
                                <td>{{ system.address }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}GPS Coordinates{% endtrans %}</th>
                                <td>{{ system.latitude }} {{ system.longitude }}</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="page-container">
            <h2><span class="awe-calendar"></span> {% trans %}History{% endtrans %}</h2>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    {{ super() }}
    <script src="//maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;sensor=false"></script>
    <script>
        $(function(){
            var position = new google.maps.LatLng({{ system.latitude }}, {{ system.longitude }});
            var map = new google.maps.Map(
                document.getElementById("system-location-map"),
                {
                    center: position,
                    zoom: 10,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    streetViewControl: false
                }
            );
            var marker = new google.maps.Marker({
                map: map,
                title: {{ system.name|tojson|safe }},
                position: position
            });
        });
    </script>
{% endblock %}
