{% extends "sngconnect.telemetry:templates/system/base.jinja2" %}
{% set active_secondary_navigation = "history" %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ system.history_url }}" title="{% trans %}History{% endtrans %}">{% trans %}History{% endtrans %}</a></li>
{% endblock %}

{% block page_content %}
    Historia
{% endblock %}
