{% extends "sngconnect.telemetry:templates/system/base.jinja2" %}
{% set active_secondary_navigation = "parameters" %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ system.parameters_url }}" title="{% trans %}Parameters{% endtrans %}">{% trans %}Parameters{% endtrans %}</a></li>
{% endblock %}

{% block page_content %}
    <h2><span class="awe-th-list"></span> {% trans %}Current parameter values{% endtrans %}</h2>
    <table class="table">
        <thead>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Unit of measurement{% endtrans %}</th>
        </thead>
        <tbody>
            {% for parameter in parameters %}
                <tr>
                    <td><a href="{{ parameter.url }}">{{ parameter.name }}</a></td>
                    <td>{{ parameter.measurement_unit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
