{% extends "sngconnect.telemetry:templates/system/parameters.jinja2" %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ parameter_url }}" title="{{ parameter.name }}">{{ parameter.name }}</a></li>
{% endblock %}

{% block page_content %}
    <h2>{{ parameter.name }}</h2>
    <div class="row">
        <article class="span6">
            <h2><span class="awe-th-list"></span> {% trans %}Values{% endtrans %}</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th>{% trans %}Current value{% endtrans %}</th>
                        {% if parameter.last_value %}
                            <td><code>{{ parameter.last_value.value|round(precision=6) }}</code></td>
                        {% else %}
                            <td class="no-data">{% trans %}no data{% endtrans %}</td>
                        {% endif %}
                    </tr>
                    {% if parameter.last_value %}
                        <tr>
                            <th>{% trans %}Last update{% endtrans %}</th>
                            <td>{{ parameter.last_value.date }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans %}Period{% endtrans %}</th>
                        <th>{% trans %}Mean value{% endtrans %}</th>
                        <th>{% trans %}Minimum value{% endtrans %}</th>
                        <th>{% trans %}Maximum value{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{% trans %}This hour{% endtrans %}</td>
                        {% if parameter.this_hour %}
                            <td><code>{{ parameter.this_hour.mean|round(precision=6) }}</code></td>
                            <td><code>{{ parameter.this_hour.minimum|round(precision=6) }}</code></td>
                            <td><code>{{ parameter.this_hour.maximum|round(precision=6) }}</code></td>
                        {% else %}
                            <td class="no-data" colspan="3">{% trans %}no data{% endtrans %}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>{% trans %}Today{% endtrans %}</td>
                        {% if parameter.today %}
                            <td><code>{{ parameter.today.mean|round(precision=6) }}</code></td>
                            <td><code>{{ parameter.today.minimum|round(precision=6) }}</code></td>
                            <td><code>{{ parameter.today.maximum|round(precision=6) }}</code></td>
                        {% else %}
                            <td class="no-data" colspan="3">{% trans %}no data{% endtrans %}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>{% trans %}This month{% endtrans %}</td>
                        {% if parameter.this_month %}
                            <td><code>{{ parameter.this_month.mean|round(precision=6) }}</code></td>
                            <td><code>{{ parameter.this_month.minimum|round(precision=6) }}</code></td>
                            <td><code>{{ parameter.this_month.maximum|round(precision=6) }}</code></td>
                        {% else %}
                            <td class="no-data" colspan="3">{% trans %}no data{% endtrans %}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </article>
        <article class="span6">
            <h2><span class="awe-info-sign"></span> {% trans %}Description{% endtrans %}</h2>
            <p>{{ parameter.description }}</p>
        </article>
    </div>
    <div class="row">
        <article class="span6">
            <h2><span class="awe-th-list"></span> {% trans %}Allowed values{% endtrans %}</h2>
        </article>
        <article class="span6">
            <h2><span class="awe-info-sign"></span> {% trans %}Notifications{% endtrans %}</h2>
        </article>
    </div>
    {% if parameter.last_week_values %}
        <h2><span class="awe-signal"></span> {% trans %}Chart{% endtrans %}</h2>
        <div id="last-week-chart"></div>
    {% endif %}
    <h2><span class="awe-calendar"></span> {% trans %}History{% endtrans %}</h2>
{% endblock %}

{% block body_scripts %}
    {{ super() }}
    {% if parameter.last_week_values %}
        <script>
            $(function(){
                var chart;
                $(document).ready(function(){
                    chart = new Highcharts.Chart({
                        chart: {renderTo: "last-week-chart", backgroundColor: null},
                        title: {text: {% filter tojson %}{% trans %}Last week{% endtrans %}{% endfilter %}},
                        xAxis: {type: "datetime"},
                        yAxis: {
                            title: {text: {{ parameter.name|tojson|safe }} + " [" + {{ parameter.measurement_unit|tojson|safe }} + "]"}
                        },
                        tooltip: {shared: true},
                        legend: {enabled: true},
                        colors: ['#AA4643', '#80699B', '#4572A7'],
                        plotOptions: {
                            area: {
                                lineWidth: 1,
                                marker: {
                                    enabled: false,
                                    states: {
                                        hover: {
                                            enabled: true,
                                            radius: 5
                                        }
                                    }
                                },
                                shadow: false,
                                states: {
                                    hover: {lineWidth: 1}
                                }
                            }
                        },
                        series: [
                            {
                                name: "{% trans %}Maximum{% endtrans %}",
                                type: "area",
                                data: [
                                    {%- for data_point in parameter.last_week_values -%}
                                        {%- with d = data_point[0] -%}
                                            [Date.UTC({{ d.year }},{{ d.month }},{{ d.day}},{{ d.hour }},{{ d.minute }},{{ d.second }},{{ d.microsecond / 1000 }}),{{ data_point[1].maximum }}]
                                            {%- if not loop.last %},{% endif -%}
                                        {%- endwith -%}
                                    {%- endfor -%}
                                ]
                            },
                            {
                                name: "{% trans %}Mean{% endtrans %}",
                                type: "area",
                                data: [
                                    {%- for data_point in parameter.last_week_values -%}
                                        {%- with d = data_point[0] -%}
                                            [Date.UTC({{ d.year }},{{ d.month }},{{ d.day}},{{ d.hour }},{{ d.minute }},{{ d.second }},{{ d.microsecond / 1000 }}),{{ data_point[1].mean }}]
                                            {%- if not loop.last %},{% endif -%}
                                        {%- endwith -%}
                                    {%- endfor -%}
                                ]
                            },
                            {
                                name: "{% trans %}Minimum{% endtrans %}",
                                type: "area",
                                data: [
                                    {%- for data_point in parameter.last_week_values -%}
                                        {%- with d = data_point[0] -%}
                                            [Date.UTC({{ d.year }},{{ d.month }},{{ d.day}},{{ d.hour }},{{ d.minute }},{{ d.second }},{{ d.microsecond / 1000 }}),{{ data_point[1].minimum }}]
                                            {%- if not loop.last %},{% endif -%}
                                        {%- endwith -%}
                                    {%- endfor -%}
                                ]
                            }
                        ]
                    });
                });
            });
        </script>
    {% endif %}
{% endblock %}
