{% extends "sngconnect.telemetry:templates/system/base.jinja2" %}
{% set active_secondary_navigation = "parameters" %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ system.parameters_url }}" title="{% trans %}Parameters{% endtrans %}">{% trans %}Parameters{% endtrans %}</a></li>
{% endblock %}

{% block body_main %}
    {{ super() }}
    <div class="content">
        <div class="page-header">
            <h1>{{ system.name }}</h1>
        </div>
        <div class="page-container">
            Parametry
        </div>
    </div>
{% endblock %}
