{% extends "sngconnect.telemetry:templates/system/base.jinja2" %}
{% set active_secondary_navigation = "settings" %}

{% block main_breadcrumb %}
    {{ super() }}
    <li><a href="{{ system.settings_url }}" title="{% trans %}Settings{% endtrans %}">{% trans %}Settings{% endtrans %}</a></li>
{% endblock %}

{% block page_content %}
    Ustawienia
{% endblock %}
